<h1>Past events (<%= @past_events.count %>)</h1>
<% @past_events.each do |event| %>
  <%= render(event) %>
  <div>Creator: <%= event.creator.email %></div>
  <div><%= link_to('Details', event) %></div>
<% end %>
<h1>Upcoming events (<%= @upcoming_events.count %>)</h1>
<% @upcoming_events.each do |event| %>
  <%= render(event) %>
  <div>Creator: <%= event.creator.email %></div>
  <div><%= link_to('Details', event) %></div>
<% end %>
