<h1>Create event</h1>
<%= form_for(@event) do |f| %>
  <%= f.label(:title) %>
  <%= f.text_field(:title) %>
  <%= f.label(:location) %>
  <%= f.text_field(:location) %>
  <%= f.label(:date) %>
  <%= f.datetime_select(:date) %>
  <%= f.submit %>
<% end %>
